#home-page-container,
#about-page-container,
#help-page-container,
#spec-ep-container,
#rand-ep-container,
#ep-info-container {
  margin-top: 5em;
}

.nav-link,
.nav-link:visited {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  text-decoration: none;
  color: lightskyblue;
}

.ep-link,
.ep-link-lead,
.cast-link {
  color: blue;
}

.ep-link {
  padding-left: 2em;
}

.ep-link-lead {
  padding-left: 1em;
}

.ep-link:hover,
.ep-link-lead:hover,
.cast-link:hover {
  cursor: pointer;
  color: blueviolet;
}

.castListing,
.director-element,
.writer-element,
.ep-creator-element,
.guest-element {
  list-style: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
